body{
    color: #fff;
   
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/heaaad.jpg);
    background-size: cover;
    background-position: center;
}
.featured{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/as.jpg);
    background-position: center;
    background-size: cover;
}
